body {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714em;
}
h1 {
  font-family: Open Sans;
  font-size: 3.429em;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.208em;
  margin-bottom: 0.292em;
}
h2 {
  font-family: Open Sans;
  font-size: 2.571em;
  font-weight: 700;
  line-height: normal;
  margin-top: 0.417em;
  margin-bottom: 0.459em;
}
h3 {
  font-family: Open Sans;
  font-size: 2.143em;
  font-weight: 700;
  line-height: normal;
  margin-top: 0.533em;
  margin-bottom: 0.633em;
}
h4 {
  font-family: Montserrat;
  font-size: 1.571em;
  font-weight: 400;
  line-height: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}
h5 {
  font-family: Montserrat;
  font-size: 1em;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.714em;
  margin-bottom: 1.714em;
}
h6 {
  font-family: Open Sans;
  font-size: 1em;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.643em;
  margin-bottom: 1.643em;
}
a,
.scheme_dark a,
.scheme_light a {
  color: #ef595a;
}
a:hover,
.scheme_dark a:hover,
.scheme_light a:hover {
  color: #878fd6;
}
.accent1 {
  color: #ef595a;
}
.accent1_bgc {
  background-color: #ef595a;
}
.accent1_bg {
  background: #ef595a;
}
.accent1_border {
  border-color: #ef595a;
}
a.accent1:hover {
  color: #878fd6;
}
.accent1h {
  color: #878fd6;
}
.post_content.ih-item.circle.effect1.colored .info,
.post_content.ih-item.circle.effect2.colored .info,
.post_content.ih-item.circle.effect3.colored .info,
.post_content.ih-item.circle.effect4.colored .info,
.post_content.ih-item.circle.effect5.colored .info .info-back,
.post_content.ih-item.circle.effect6.colored .info,
.post_content.ih-item.circle.effect7.colored .info,
.post_content.ih-item.circle.effect8.colored .info,
.post_content.ih-item.circle.effect9.colored .info,
.post_content.ih-item.circle.effect10.colored .info,
.post_content.ih-item.circle.effect11.colored .info,
.post_content.ih-item.circle.effect12.colored .info,
.post_content.ih-item.circle.effect13.colored .info,
.post_content.ih-item.circle.effect14.colored .info,
.post_content.ih-item.circle.effect15.colored .info,
.post_content.ih-item.circle.effect16.colored .info,
.post_content.ih-item.circle.effect18.colored .info .info-back,
.post_content.ih-item.circle.effect19.colored .info,
.post_content.ih-item.circle.effect20.colored .info .info-back,
.post_content.ih-item.square.effect1.colored .info,
.post_content.ih-item.square.effect2.colored .info,
.post_content.ih-item.square.effect3.colored .info,
.post_content.ih-item.square.effect4.colored .mask1,
.post_content.ih-item.square.effect4.colored .mask2,
.post_content.ih-item.square.effect5.colored .info,
.post_content.ih-item.square.effect6.colored .info,
.post_content.ih-item.square.effect7.colored .info,
.post_content.ih-item.square.effect8.colored .info,
.post_content.ih-item.square.effect9.colored .info .info-back,
.post_content.ih-item.square.effect10.colored .info,
.post_content.ih-item.square.effect11.colored .info,
.post_content.ih-item.square.effect12.colored .info,
.post_content.ih-item.square.effect13.colored .info,
.post_content.ih-item.square.effect14.colored .info,
.post_content.ih-item.square.effect15.colored .info,
.post_content.ih-item.circle.effect20.colored .info .info-back,
.post_content.ih-item.square.effect_book.colored .info {
  background: #ef595a;
}
.post_content.ih-item.circle.effect1.colored .info,
.post_content.ih-item.circle.effect2.colored .info,
.post_content.ih-item.circle.effect5.colored .info .info-back,
.post_content.ih-item.circle.effect19.colored .info,
.post_content.ih-item.square.effect4.colored .mask1,
.post_content.ih-item.square.effect4.colored .mask2,
.post_content.ih-item.square.effect6.colored .info,
.post_content.ih-item.square.effect7.colored .info,
.post_content.ih-item.square.effect12.colored .info,
.post_content.ih-item.square.effect13.colored .info,
.post_content.ih-item.square.effect_more.colored .info,
.post_content.ih-item.square.effect_fade.colored:hover .info,
.post_content.ih-item.square.effect_dir.colored .info,
.post_content.ih-item.square.effect_shift.colored .info {
  /*background:rgba(239,89,90,0.6);*/

  background: rgba(55, 53, 61, 0.67);
}
.post_content.ih-item.square.effect_fade.colored .info {
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 70%,
    rgba(239, 89, 90, 0.6) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(70%, rgba(255, 255, 255, 0)),
    color-stop(100%, rgba(239, 89, 90, 0.6))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 70%,
    rgba(239, 89, 90, 0.6) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 70%,
    rgba(239, 89, 90, 0.6) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 70%,
    rgba(239, 89, 90, 0.6) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 70%,
    rgba(239, 89, 90, 0.6) 100%
  );
}
.post_content.ih-item.circle.effect17.colored:hover .img:before {
  -webkit-box-shadow: inset 0 0 0 110px rgba(239, 89, 90, 0.6),
    inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 110px rgba(239, 89, 90, 0.6),
    inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 110px rgba(239, 89, 90, 0.6),
    inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.post_content.ih-item.circle.effect1 .spinner {
  border-right-color: #ef595a;
  border-bottom-color: #ef595a;
}
pre.code,
#toc .toc_item.current,
#toc .toc_item:hover {
  border-color: #ef595a;
}
::selection,
::-moz-selection {
  background-color: #ef595a;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="password"],
select,
textarea {
}
.top_panel_inner_style_3 .top_panel_cart_button,
.top_panel_inner_style_4 .top_panel_cart_button {
  background-color: rgba(239, 89, 90, 0.2);
}
.top_panel_style_8 .top_panel_buttons .top_panel_cart_button:before {
  background-color: #ef595a;
}
.top_panel_inner_style_3 .top_panel_top,
.top_panel_inner_style_4 .top_panel_top,
.top_panel_inner_style_5 .top_panel_top,
.top_panel_inner_style_3 .top_panel_top .sidebar_cart,
.top_panel_inner_style_4 .top_panel_top .sidebar_cart {
  background-color: #ef595a;
}
.top_panel_top a:hover {
  color: #878fd6;
}
.menu_user_nav > li > a:hover {
  color: #878fd6;
}
.top_panel_inner_style_3 .menu_user_nav > li > ul:after,
.top_panel_inner_style_4 .menu_user_nav > li > ul:after,
.top_panel_inner_style_5 .menu_user_nav > li > ul:after,
.top_panel_inner_style_3 .menu_user_nav > li ul,
.top_panel_inner_style_4 .menu_user_nav > li ul,
.top_panel_inner_style_5 .menu_user_nav > li ul {
  background-color: #ef595a;
  border-color: #878fd6;
}
.top_panel_inner_style_3 .menu_user_nav > li ul li a:hover,
.top_panel_inner_style_3 .menu_user_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_3 .menu_user_nav > li ul li.current-menu-ancestor > a,
.top_panel_inner_style_4 .menu_user_nav > li ul li a:hover,
.top_panel_inner_style_4 .menu_user_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_4 .menu_user_nav > li ul li.current-menu-ancestor > a,
.top_panel_inner_style_5 .menu_user_nav > li ul li a:hover,
.top_panel_inner_style_5 .menu_user_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_5 .menu_user_nav > li ul li.current-menu-ancestor > a {
  background-color: #878fd6;
}
.top_panel_middle .logo {
}
.logo .logo_text {
  font-family: Montserrat;
  font-size: 2em;
  font-weight: normal;
  line-height: 2em;
}
.top_panel_middle .menu_main_wrap {
  margin-top: calc(inherit * 0.75);
}
.top_panel_style_5 .top_panel_middle .logo {
  margin-bottom: calc(inherit * 0.5);
}
.top_panel_image_hover {
  background-color: rgba(135, 214, 214, 0.8);
}
.menu_main_nav > li > a {
  padding: inherit 1.5em inherit;
  font-family: Montserrat;
  font-size: 0.929em;
}
.menu_main_nav > li > a:hover,
.menu_main_nav > li.sfHover > a,
.menu_main_nav > li#blob,
.menu_main_nav > li.current-menu-item > a,
.menu_main_nav > li.current-menu-parent > a,
.menu_main_nav > li.current-menu-ancestor > a {
  color: #878fd6;
}
.top_panel_inner_style_1 .menu_main_nav > li > a:hover,
.top_panel_inner_style_2 .menu_main_nav > li > a:hover {
  /*background-color:#878fd6;*/

  border-color: #ef595a;
}
.scheme_red .top_panel_inner_style_1 .menu_main_nav > li > a:hover {
  border-color: #fff;
}
.top_panel_inner_style_1 .menu_main_nav > li ul,
.top_panel_inner_style_2 .menu_main_nav > li ul {
}
.top_panel_inner_style_1 .menu_main_nav > a:hover,
.top_panel_inner_style_1 .menu_main_nav > li.sfHover > a,
.top_panel_inner_style_1 .menu_main_nav > li#blob,
.top_panel_inner_style_1 .menu_main_nav > li.current-menu-item > a,
.top_panel_inner_style_1 .menu_main_nav > li.current-menu-parent > a,
.top_panel_inner_style_1 .menu_main_nav > li.current-menu-ancestor > a,
.top_panel_inner_style_2 .menu_main_nav > a:hover,
.top_panel_inner_style_2 .menu_main_nav > li.sfHover > a,
.top_panel_inner_style_2 .menu_main_nav > li#blob,
.top_panel_inner_style_2 .menu_main_nav > li.current-menu-item > a,
.top_panel_inner_style_2 .menu_main_nav > li.current-menu-parent > a,
.top_panel_inner_style_2 .menu_main_nav > li.current-menu-ancestor > a {
  /*background-color:#878fd6;*/

  border-color: #ef595a;
}
.scheme_red .top_panel_inner_style_1 .menu_main_nav > a:hover,
.scheme_red .top_panel_inner_style_1 .menu_main_nav > li.sfHover > a,
.scheme_red .top_panel_inner_style_1 .menu_main_nav > li#blob,
.scheme_red .top_panel_inner_style_1 .menu_main_nav > li.current-menu-item > a,
.scheme_red
  .top_panel_inner_style_1
  .menu_main_nav
  > li.current-menu-parent
  > a,
.scheme_red
  .top_panel_inner_style_1
  .menu_main_nav
  > li.current-menu-ancestor
  > a {
  border-color: #fff;
}
.menu_main_nav > li ul a {
  font-family: Montserrat;
  font-size: 0.857em;
}
.menu_main_nav > li > ul {
  top: calc(inherit+inherit+inherit);
}
.menu_main_nav > li ul li a {
  padding: inherit 1.5em inherit;
}
.menu_main_nav > li ul li a:hover,
.menu_main_nav > li ul li.current-menu-item > a,
.menu_main_nav > li ul li.current-menu-ancestor > a {
  color: #878fd6;
}
.top_panel_inner_style_1 .menu_main_nav > li ul li a:hover,
.top_panel_inner_style_1 .menu_main_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_1 .menu_main_nav > li ul li.current-menu-ancestor > a,
.top_panel_inner_style_2 .menu_main_nav > li ul li a:hover,
.top_panel_inner_style_2 .menu_main_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_2 .menu_main_nav > li ul li.current-menu-ancestor > a {
  background-color: #878fd6;
}
.menu_main_responsive_button {
  margin-top: inherit;
  margin-bottom: inherit;
}
.menu_main_responsive_button:hover {
  color: #878fd6;
}
.responsive_menu .top_panel_middle .menu_main_responsive_button {
  top: inherit;
}
.responsive_menu .menu_main_responsive_button {
  margin-top: calc(inherit * 0.8);
  margin-bottom: calc(inherit * 0.6);
}
.top_panel_inner_style_1 .menu_main_responsive,
.top_panel_inner_style_2 .menu_main_responsive {
  /*background-color:#ef595a;*/
}
.top_panel_inner_style_1 .menu_main_responsive a:hover,
.top_panel_inner_style_2 .menu_main_responsive a:hover {
  background-color: #878fd6;
}
.top_panel_bottom .search_wrap,
.top_panel_inner_style_4 .search_wrap {
  padding-top: calc(inherit * 0.65);
  padding-bottom: calc(inherit * 0.5);
}
.top_panel_inner_style_1 .search_form_wrap,
.top_panel_inner_style_2 .search_form_wrap {
  background-color: rgba(135, 143, 214, 0.2);
}
.top_panel_icon {
  margin: calc(inherit * 0.7) 0 inherit 1em;
}
.top_panel_icon.search_wrap,
.top_panel_inner_style_5 .menu_main_responsive_button,
.top_panel_inner_style_6 .menu_main_responsive_button,
.top_panel_inner_style_7 .menu_main_responsive_button {
  color: #ef595a;
}
.top_panel_icon .contact_icon,
.top_panel_icon .search_submit {
  color: #ef595a;
}
.top_panel_middle a:hover .contact_icon,
.top_panel_icon.search_wrap:hover,
.top_panel_icon:hover .contact_icon,
.top_panel_icon:hover .search_submit,
.top_panel_inner_style_5 .menu_main_responsive_button:hover,
.top_panel_inner_style_6 .menu_main_responsive_button:hover,
.top_panel_inner_style_7 .menu_main_responsive_button:hover {
  background-color: #ef595a;
}
.search_results .post_more,
.search_results .search_results_close {
  color: #ef595a;
}
.search_results .post_more:hover,
.search_results .search_results_close:hover {
  color: #878fd6;
}
.top_panel_inner_style_1 .search_results,
.top_panel_inner_style_1 .search_results:after,
.top_panel_inner_style_2 .search_results,
.top_panel_inner_style_2 .search_results:after,
.top_panel_inner_style_3 .search_results,
.top_panel_inner_style_3 .search_results:after {
  background-color: #ef595a;
}
.top_panel_fixed .menu_main_wrap {
  padding-top: calc(inherit * 0.3);
}
.top_panel_fixed .top_panel_wrap .logo {
  margin-top: calc(inherit * 0.6);
  margin-bottom: calc(inherit * 0.6);
}
.top_panel_inner_style_8 .top_panel_buttons,
.top_panel_inner_style_8 .menu_pushy_wrap .menu_pushy_button {
  padding-top: inherit;
  padding-bottom: inherit;
}
.pushy_inner a {
  color: #ef595a;
}
.pushy_inner a:hover {
  color: #878fd6;
}
.top_panel_inner_style_3 .popup_wrap a,
.top_panel_inner_style_3 .popup_wrap .sc_socials.sc_socials_type_icons a:hover,
.top_panel_inner_style_4 .popup_wrap a,
.top_panel_inner_style_4 .popup_wrap .sc_socials.sc_socials_type_icons a:hover,
.top_panel_inner_style_5 .popup_wrap a,
.top_panel_inner_style_5 .popup_wrap .sc_socials.sc_socials_type_icons a:hover {
  color: #ef595a;
}
.top_panel_inner_style_3 .popup_wrap a:hover,
.top_panel_inner_style_4 .popup_wrap a:hover,
.top_panel_inner_style_5 .popup_wrap a:hover {
  color: #878fd6;
}
.post_title .post_icon {
  color: #ef595a;
}
.pagination > a {
  border-color: #ef595a;
}
.post_format_aside.post_item_single .post_content p,
.post_format_aside .post_descr {
  border-color: #ef595a;
}
.post_info {
  font-size: 0.786em;
}
.post_info a[class*="icon-"] {
  color: #ef595a;
}
.post_info a:hover,
.post_info a:hover > span {
  color: #878fd6;
}
.post_item .post_readmore:hover .post_readmore_label {
  color: #878fd6;
}
.post_item_related .post_info a:hover,
.post_item_related .post_title a:hover {
  color: #878fd6;
}
.isotope_item_colored .post_featured .post_mark_new,
.isotope_item_colored .post_featured .post_title,
.isotope_item_colored .post_content.ih-item.square.colored .info {
  background-color: #ef595a;
}
.isotope_item_colored .post_category a,
.isotope_item_colored .post_rating .reviews_stars_bg,
.isotope_item_colored .post_rating .reviews_stars_hover,
.isotope_item_colored .post_rating .reviews_value {
  color: #ef595a;
}
.isotope_item_colored .post_info_wrap .post_button .sc_button {
  color: #ef595a;
}
.isotope_wrap .isotope_item_colored_1 .post_featured {
  border-color: #ef595a;
}
.isotope_filters a {
  border-color: #ef595a;
  background-color: #ef595a;
}
.isotope_filters a.active,
.isotope_filters a:hover {
  border-color: #878fd6;
  background-color: #878fd6;
}
.pagination_single > .pager_numbers,
.pagination_single a,
.pagination_slider .pager_cur,
.pagination_pages > a,
.pagination_pages > span {
  border-color: #ef595a;
  background-color: #ef595a;
}
.pagination_single > .pager_numbers,
.pagination_single a:hover,
.pagination_slider .pager_cur:hover,
.pagination_slider .pager_cur:focus,
.pagination_pages > .active,
.pagination_pages > a:hover {
  color: #ef595a;
}
.pagination_wrap .pager_next,
.pagination_wrap .pager_prev,
.pagination_wrap .pager_last,
.pagination_wrap .pager_first {
  color: #ef595a;
}
.pagination_wrap .pager_next:hover,
.pagination_wrap .pager_prev:hover,
.pagination_wrap .pager_last:hover,
.pagination_wrap .pager_first:hover {
  color: #878fd6;
}
.pagination_viewmore > a {
  background-color: #ef595a;
}
.pagination_viewmore > a:hover {
  background-color: #878fd6;
}
.viewmore_loader,
.mfp-preloader span,
.sc_video_frame.sc_video_active:before {
  background-color: #878fd6;
}
.post_featured .post_nav_item:before {
  background-color: #ef595a;
}
.post_featured .post_nav_item .post_nav_info {
  background-color: #ef595a;
}
.reviews_block .reviews_summary .reviews_item {
  background-color: #ef595a;
}
.reviews_block .reviews_summary,
.reviews_block .reviews_max_level_100 .reviews_stars_bg {
  background-color: #ef595a;
}
.reviews_block .reviews_max_level_100 .reviews_stars_hover,
.reviews_block .reviews_item .reviews_slider {
  background-color: #ef595a;
}
.reviews_block .reviews_item .reviews_stars_hover {
  color: #ef595a;
}
/* Summary stars in the post item (under the title) */

.post_item .post_rating .reviews_stars_bg,
.post_item .post_rating .reviews_stars_hover,
.post_item .post_rating .reviews_value {
  color: #ef595a;
}
/*.post_author .post_author_title a{color:#ef595a}.post_author .post_author_title a:hover{color:#878fd6}.post_author .post_author_info .sc_socials a:hover{color:#878fd6}*/

.post_item_404 .page_title {
  color: #878fd6;
}
.sidebar_outer_menu .menu_side_nav > li > a,
.sidebar_outer_menu .menu_side_responsive > li > a {
  font-family: Montserrat;
  font-size: 0.929em;
}
.sidebar_outer_menu .menu_side_nav > li ul,
.sidebar_outer_menu .menu_side_responsive > li ul {
  font-family: Montserrat;
  font-size: 0.857em;
}
.sidebar_outer_menu .menu_side_nav > li ul li a,
.sidebar_outer_menu .menu_side_responsive > li ul li a {
  padding: inherit 1.5em inherit;
}
.sidebar_outer_menu .sidebar_outer_menu_buttons > a:hover,
.scheme_dark .sidebar_outer_menu .sidebar_outer_menu_buttons > a:hover,
.scheme_light .sidebar_outer_menu .sidebar_outer_menu_buttons > a:hover {
  color: #ef595a;
}
.widget_area_inner a:hover,
.widget_area_inner ul li a:hover {
  color: #ef595a;
}
.widget_area_inner .post_info a.post_info_author {
  color: #ef595a;
}
.widget_area_inner .post_info a.post_info_author:hover {
  color: #878fd6;
}
/*.widget_area_inner a,.widget_area_inner ul li:before,.widget_area_inner ul li a:hover,.widget_area_inner button:before{color:#ef595a}.widget_area_inner a:hover,.widget_area_inner ul li a,.widget_area_inner button:hover:before{color:#878fd6}.widget_area_inner .widget_text a:not(.sc_button),.widget_area_inner .post_info a{color:#ef595a}.widget_area_inner .widget_text a:not(.sc_button):hover,.widget_area_inner .post_info a:hover{color:#878fd6}*/
/* Widget:Calendar */

.widget_area_inner .widget_calendar td a:hover {
  color: #ef595a;
}
/* Widget:Tag Cloud */

.widget_area_inner .widget_product_tag_cloud a,
.widget_area_inner .widget_tag_cloud a {
}
.widget_area_inner .widget_product_tag_cloud a:hover,
.widget_area_inner .widget_tag_cloud a:hover {
  border-color: #878fd6;
  background-color: #878fd6;
}
.testimonials_wrap_inner,
.twitter_wrap_inner {
  background-color: #ef595a;
}
.copyright_wrap_inner .menu_footer_nav li a:hover,
.scheme_dark .copyright_wrap_inner .menu_footer_nav li a:hover,
.scheme_light .copyright_wrap_inner .menu_footer_nav li a:hover {
  color: #ef595a;
}
.contacts_wrap_inner .sc_socials.sc_socials_type_icons a:hover,
.contacts_wrap_inner .scheme_dark .sc_socials.sc_socials_type_icons a:hover,
.contacts_wrap_inner .scheme_light .sc_socials.sc_socials_type_icons a:hover {
  color: #878fd6;
  border-color: #878fd6;
}
.copyright_wrap_inner .sc_socials.sc_socials_type_icons a:hover,
.copyright_wrap_inner .scheme_dark .sc_socials.sc_socials_type_icons a:hover,
.copyright_wrap_inner .scheme_light .sc_socials.sc_socials_type_icons a:hover {
  color: #878fd6;
  border-color: #878fd6;
}
.scroll_to_top {
  background-color: #ef595a;
}
.scroll_to_top:hover {
  background-color: #878fd6;
}
.custom_options #co_toggle {
  background-color: #878fd6;
}
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-message:before,
.woocommerce div.product span.price,
.woocommerce div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce #content div.product p.price,
.woocommerce-page div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page #content div.product p.price,
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button:hover,
.woocommerce .quantity input[type="button"]:hover,
.woocommerce #content input[type="button"]:hover,
.woocommerce-page .quantity input[type="button"]:hover,
.woocommerce-page #content .quantity input[type="button"]:hover,
.woocommerce ul.cart_list li > .amount,
.woocommerce ul.product_list_widget li > .amount,
.woocommerce-page ul.cart_list li > .amount,
.woocommerce-page ul.product_list_widget li > .amount,
.woocommerce ul.cart_list li span .amount,
.woocommerce ul.product_list_widget li span .amount,
.woocommerce-page ul.cart_list li span .amount,
.woocommerce-page ul.product_list_widget li span .amount,
.woocommerce ul.cart_list li ins .amount,
.woocommerce ul.product_list_widget li ins .amount,
.woocommerce-page ul.cart_list li ins .amount,
.woocommerce-page ul.product_list_widget li ins .amount,
.woocommerce.widget_shopping_cart .total .amount,
.woocommerce .widget_shopping_cart .total .amount,
.woocommerce-page.widget_shopping_cart .total .amount,
.woocommerce-page .widget_shopping_cart .total .amount,
.woocommerce a:hover h3,
.woocommerce-page a:hover h3,
.woocommerce .cart-collaterals .order-total strong,
.woocommerce-page .cart-collaterals .order-total strong,
.woocommerce .checkout #order_review .order-total .amount,
.woocommerce-page .checkout #order_review .order-total .amount,
.woocommerce .star-rating,
.woocommerce-page .star-rating,
.woocommerce .star-rating:before,
.woocommerce-page .star-rating:before,
.widget_area_inner .widgetWrap ul > li .star-rating span,
.woocommerce #review_form #respond .stars a,
.woocommerce-page #review_form #respond .stars a {
  color: #ef595a;
}
.woocommerce div.quantity span,
.woocommerce-page div.quantity span {
  background-color: #ef595a;
}
.woocommerce div.quantity span:hover,
.woocommerce-page div.quantity span:hover {
  background-color: #878fd6;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
  background-color: #ef595a;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
  background: #ef595a;
}
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-message,
.woocommerce a.button.alt:active,
.woocommerce button.button.alt:active,
.woocommerce input.button.alt:active,
.woocommerce #respond input#submit.alt:active,
.woocommerce #content input.button.alt:active,
.woocommerce-page a.button.alt:active,
.woocommerce-page button.button.alt:active,
.woocommerce-page input.button.alt:active,
.woocommerce-page #respond input#submit.alt:active,
.woocommerce-page #content input.button.alt:active,
.woocommerce a.button:active,
.woocommerce button.button:active,
.woocommerce input.button:active,
.woocommerce #respond input#submit:active,
.woocommerce #content input.button:active,
.woocommerce-page a.button:active,
.woocommerce-page button.button:active,
.woocommerce-page input.button:active,
.woocommerce-page #respond input#submit:active,
.woocommerce-page #content input.button:active {
  border-top-color: #ef595a;
}
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-account .addresses .title .edit {
  background-color: #ef595a;
}
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-account .addresses .title .edit:hover {
  background-color: #878fd6;
}
.woocommerce span.new,
.woocommerce-page span.new,
.woocommerce span.onsale,
.woocommerce-page span.onsale {
  background-color: #878fd6;
}
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price,
.woocommerce ul.products li.product .star-rating:before,
.woocommerce ul.products li.product .star-rating span {
  color: #ef595a;
}
.woocommerce ul.products li.product .add_to_cart_button,
.woocommerce-page ul.products li.product .add_to_cart_button {
  background-color: #ef595a;
}
.woocommerce ul.products li.product .add_to_cart_button:hover,
.woocommerce-page ul.products li.product .add_to_cart_button:hover {
  background-color: #878fd6;
}
.single-product .woocommerce-tabs.trx-stretch-width .wc-tabs li.active a:after {
  background-color: #ef595a;
}
.single-product
  .woocommerce-tabs.trx-stretch-width
  .wc-tabs
  li.active
  a:hover:after {
  background-color: #878fd6;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span.current {
  border-color: #ef595a;
  background-color: #ef595a;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
  color: #ef595a;
}
.woocommerce table.cart thead th,
.woocommerce #content table.cart thead th,
.woocommerce-page table.cart thead th,
.woocommerce-page #content table.cart thead th {
  background-color: #ef595a;
}
.tribe-events-calendar thead th {
  background-color: #ef595a;
}
a.tribe-events-read-more,
.tribe-events-button,
.tribe-events-nav-previous a,
.tribe-events-nav-next a,
.tribe-events-widget-link a,
.tribe-events-viewmore a {
  background-color: #ef595a;
}
a.tribe-events-read-more:hover,
.tribe-events-button:hover,
.tribe-events-nav-previous a:hover,
.tribe-events-nav-next a:hover,
.tribe-events-widget-link a:hover,
.tribe-events-viewmore a:hover {
  background-color: #878fd6;
}
#bbpress-forums div.bbp-topic-content a,
#buddypress button,
#buddypress a.button,
#buddypress input[type="submit"],
#buddypress input[type="button"],
#buddypress input[type="reset"],
#buddypress ul.button-nav li a,
#buddypress div.generic-button a,
#buddypress .comment-reply-link,
a.bp-title-button,
#buddypress div.item-list-tabs ul li.selected a {
  background: #ef595a;
}
#bbpress-forums div.bbp-topic-content a:hover,
#buddypress button:hover,
#buddypress a.button:hover,
#buddypress input[type="submit"]:hover,
#buddypress input[type="button"]:hover,
#buddypress input[type="reset"]:hover,
#buddypress ul.button-nav li a:hover,
#buddypress div.generic-button a:hover,
#buddypress .comment-reply-link:hover,
a.bp-title-button:hover,
#buddypress div.item-list-tabs ul li.selected a:hover {
  background: #878fd6;
}
#buddypress #reply-title small a span,
#buddypress a.bp-primary-action span {
  color: #ef595a;
}
.booking_font_custom,
.booking_day_container,
.booking_calendar_container_all {
  font-family: Open Sans;
}
.booking_weekdays_custom {
  font-family: Open Sans;
}
.booking_month_navigation_button_custom:hover {
  background-color: #878fd6;
}
#learndash_next_prev_link > a {
  background-color: #ef595a;
}
#learndash_next_prev_link > a:hover {
  background-color: #878fd6;
}
.widget_area dd.course_progress div.course_progress_blue {
  background-color: #878fd6;
}
.sc_accordion
  .sc_accordion_item.sc_active
  .sc_accordion_title
  .sc_accordion_icon {
  background-color: #ef595a;
}
.sc_audio .sc_audio_author_name,
.sc_audio .sc_audio_title {
  /*color:#ef595a;*/
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-controls .mejs-time-rail .mejs-time-current {
  /*background:#ef595a ;*/
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.sc_button {
  font-family: Montserrat;
}
/*input[type="submit"],input[type="reset"],input[type="button"],button,.sc_button.sc_button_style_filled{background-color:#ef595a}input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,button:hover,.sc_button.sc_button_style_filled:hover{background-color:#878fd6}.sc_button.sc_button_style_border{border-color:#ef595a;	color:#ef595a}.sc_button.sc_button_style_border:hover{border-color:#878fd6 }*/

.sc_blogger.layout_date .sc_blogger_item .sc_blogger_date {
  background-color: #ef595a;
  border-color: #ef595a;
}
.sc_blogger.layout_polaroid .photostack nav span.current {
  background-color: #ef595a;
}
.sc_blogger.layout_polaroid .photostack nav span.current.flip {
  background-color: #878fd6;
}
.sc_call_to_action_style_1 .sc_call_to_action_icon {
  color: #878fd6;
}
.sc_call_to_action_accented {
  background-color: #ef595a;
}
.sc_call_to_action_accented .sc_item_button > a {
  color: #ef595a;
}
.sc_call_to_action_accented .sc_item_button > a:before {
  background-color: #ef595a;
}
.sc_chat_inner a {
  color: #ef595a;
}
.sc_chat_inner a:hover {
  color: #878fd6;
}
.sc_clients_style_clients-2 .sc_client_title a:hover {
  color: #ef595a;
}
.sc_clients_style_clients-2 .sc_client_description:before,
.sc_clients_style_clients-2 .sc_client_position {
  color: #ef595a;
}
.sc_form .sc_form_item.sc_form_button button {
  /*color:#ef595a;*/
  /*border-color:#ef595a;*/
}
.sc_form .sc_form_item.sc_form_button button:hover {
  /*background-color:#ef595a;*/
}
.sc_form table.picker__table th {
  background-color: #ef595a;
}
.sc_form .picker__day--today:before,
.sc_form .picker__button--today:before,
.sc_form .picker__button--clear:before,
.sc_form button:focus {
  border-color: #ef595a;
}
.sc_form .picker__button--close:before {
  color: #ef595a;
}
.sc_form .picker--time .picker__button--clear:hover,
.sc_form .picker--time .picker__button--clear:focus {
  background-color: #878fd6;
}
.sc_countdown.sc_countdown_style_1 .sc_countdown_digits,
.sc_countdown.sc_countdown_style_1 .sc_countdown_separator {
  color: #ef595a;
}
.sc_countdown.sc_countdown_style_1 .sc_countdown_label {
  color: #ef595a;
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_separator {
  color: #ef595a;
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_digits span {
  background-color: #ef595a;
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_label {
  color: #ef595a;
}
.sc_dropcaps .sc_dropcaps_item {
  background-color: #ef595a;
}
.sc_events_style_events-2 .sc_events_item_date {
  background-color: #ef595a;
}
.sc_highlight_style_1 {
  background-color: #ef595a;
}
.sc_highlight_style_2 {
  background-color: #878fd6;
}
.sc_icon_hover:hover,
a:hover .sc_icon_hover {
  background-color: #ef595a;
}
.sc_icon_shape_round.sc_icon,
.sc_icon_shape_square.sc_icon {
  background-color: #ef595a;
  border-color: #ef595a;
}
.sc_icon_shape_round.sc_icon:hover,
.sc_icon_shape_square.sc_icon:hover,
a:hover .sc_icon_shape_round.sc_icon,
a:hover .sc_icon_shape_square.sc_icon {
  color: #ef595a;
}
figure figcaption,
.sc_image figcaption {
  background-color: rgba(239, 89, 90, 0.6);
}
.sc_list_style_iconed li:before,
.sc_list_style_iconed .sc_list_icon {
  color: #ef595a;
}
.sc_list_style_iconed li a:hover .sc_list_title {
  color: #878fd6;
}
.sc_popup:before {
  background-color: #ef595a;
}
.sc_price_block.sc_price_block_style_1 {
  background-color: #ef595a;
}
.sc_price_block.sc_price_block_style_2 {
  background-color: #878fd6;
}
.sc_recent_news_header_category_item_more {
  color: #ef595a;
}
.sc_recent_news_header_more_categories > a {
  color: #ef595a;
}
.sc_recent_news_header_more_categories > a:hover {
  color: #878fd6;
}
.sc_scroll_controls_wrap a {
  background-color: #ef595a;
}
.sc_scroll_controls_type_side .sc_scroll_controls_wrap a {
  background-color: rgba(239, 89, 90, 0.8);
}
.sc_scroll_controls_wrap a:hover {
  background-color: #878fd6;
}
.sc_scroll_bar .swiper-scrollbar-drag:before {
  background-color: #ef595a;
}
.sc_skills_counter .sc_skills_item .sc_skills_icon {
  color: #ef595a;
}
.sc_skills_counter .sc_skills_item:hover .sc_skills_icon {
  color: #878fd6;
}
.sc_skills_bar .sc_skills_item .sc_skills_count {
  border-color: #ef595a;
}
.sc_skills_bar .sc_skills_item .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info {
  background-color: #ef595a;
}
.sc_slider_swiper .sc_slider_info {
  background-color: rgba(239, 89, 90, 0.8);
}
.sc_slider_pagination_over .sc_slider_pagination_wrap span:hover,
.sc_slider_pagination_over
  .sc_slider_pagination_wrap
  .swiper-pagination-bullet-active {
  border-color: #ef595a;
  background-color: #ef595a;
}
.sc_socials.sc_socials_type_icons a,
.scheme_dark .sc_socials.sc_socials_type_icons a,
.scheme_light .sc_socials.sc_socials_type_icons a {
  color: #878fd6;
  border-color: #878fd6;
}
.sc_socials.sc_socials_type_icons a:hover,
.scheme_dark .sc_socials.sc_socials_type_icons a:hover,
.scheme_light .sc_socials.sc_socials_type_icons a:hover {
  color: #ef595a;
  border-color: #ef595a;
}
.sc_socials a,
.sc_socials a span {
  color: #878fd6;
  border-color: #878fd6;
}
.contacts_wrap_inner .sc_socials.sc_socials_type_icons a span {
  color: #999ca9;
  border-color: #999ca9;
}
.sc_socials a:hover,
.sc_socials a:hover span {
  color: #ef595a;
  border-color: #ef595a;
}
.contacts_wrap_inner .sc_socials.sc_socials_type_icons a:hover span {
  color: #878fd6;
  border-color: #878fd6;
}
.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a,
.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a {
  border-top-color: #ef595a;
}
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li.ui-state-active a,
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li.sc_tabs_active a {
  border-left-color: #ef595a;
}
/*.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a,.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a,.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li a:hover{color:#ef595a}.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after,.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a:after{background-color:#ef595a}.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a{border-color:#ef595a;	background-color:#ef595a}.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a:hover,.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li.ui-state-active a,.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li.sc_tabs_active a{color:#ef595a}*/
/*.sc_team_item .sc_team_item_info .sc_team_item_title a:hover{color:#878fd6}.sc_team_item .sc_team_item_info .sc_team_item_position{color:#ef595a}.sc_team_style_team-1 .sc_team_item_info,.sc_team_style_team-3 .sc_team_item_info{border-color:#ef595a}.sc_team.sc_team_style_team-3 .sc_team_item_avatar .sc_team_item_hover{background-color:rgba(239,89,90,0.8)}.sc_team.sc_team_style_team-4 .sc_socials_item a:hover{color:#ef595a;	border-color:#ef595a}.sc_team_style_team-4 .sc_team_item_info .sc_team_item_title a:hover{color:#ef595a}*/

.sc_testimonials {
}
.scheme_dark .sc_testimonials_style_testimonials-1 {
  background-color: #878fd6;
}
.sc_title_icon {
  color: #878fd6;
}
.sc_title_underline::after {
  border-color: #ef595a;
}
.sc_toggles .sc_toggles_item .sc_toggles_title.ui-state-active {
  color: #ef595a;
  border-color: #ef595a;
}
.sc_toggles
  .sc_toggles_item
  .sc_toggles_title.ui-state-active
  .sc_toggles_icon_opened {
  background-color: #ef595a;
}
.sc_toggles .sc_toggles_item .sc_toggles_title:hover {
  color: #878fd6;
  border-color: #878fd6;
}
.sc_toggles .sc_toggles_item .sc_toggles_title:hover .sc_toggles_icon_opened {
  background-color: #878fd6;
}
.sc_tooltip_parent .sc_tooltip,
.sc_tooltip_parent .sc_tooltip:before {
  background-color: #ef595a;
}
/* Common styles (title,subtitle and description for some shortcodes) */

.sc_item_subtitle {
  color: #ef595a;
}
.sc_item_title:after {
  background-color: #ef595a;
}
.sc_item_button > a:before {
  color: #ef595a;
}
.sc_item_button > a:hover:before {
  color: #878fd6;
}

body #booked-profile-page input[type="submit"].button-primary:hover,
body table.booked-calendar input[type="submit"].button-primary:hover,
body .booked-modal input[type="submit"].button-primary:hover,
body table.booked-calendar thead,
body table.booked-calendar thead th,
body
  table.booked-calendar
  .booked-appt-list
  .timeslot
  .timeslot-people
  button:hover,
body
  #booked-profile-page
  .booked-profile-appt-list
  .appt-block
  .google-cal-button,
body #booked-profile-page .booked-profile-header {
  background: #365769;
}

body #booked-profile-page input[type="submit"].button-primary:hover,
body table.booked-calendar input[type="submit"].button-primary:hover,
body .booked-modal input[type="submit"].button-primary:hover,
body table.booked-calendar th,
body
  table.booked-calendar
  .booked-appt-list
  .timeslot
  .timeslot-people
  button:hover,
body
  #booked-profile-page
  .booked-profile-appt-list
  .appt-block
  .google-cal-button,
body #booked-profile-page .booked-profile-header {
  border-color: #365769;
}
/* Dark Color */

body table.booked-calendar tr.days,
body table.booked-calendar tr.days th,
body .booked-calendarSwitcher,
body .booked-calendarSwitcher select {
  background: #264452;
}

body table.booked-calendar tr.days th {
  border-color: #264452;
}
/* Primary Button Color */

body #booked-profile-page input[type="submit"].button-primary,
body table.booked-calendar input[type="submit"].button-primary,
body .booked-modal input[type="submit"].button-primary,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button,
body
  #booked-profile-page
  .booked-profile-appt-list
  .appt-block.approved
  .status-block {
  background: #365769;
}

body #booked-profile-page input[type="submit"].button-primary,
body table.booked-calendar input[type="submit"].button-primary,
body .booked-modal input[type="submit"].button-primary,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button {
  border-color: #365769;
}

.bg_color_1 {
  background-color: #f0f1f5;
}

.bg_color_2 {
  background-color: #37353d;
}
.bg_color_3 {
  background-color: #878fd6;
}

.color_1 {
  color: #999ca9;
}
.color_2 {
  color: #ef595a;
}
.color_3 {
  color: #000000;
}
